.navbar{
    z-index: 4;
    border: 0;
    border-radius: 0;
    padding: 15px;
    display: flex;
    align-items: center;
}
.navbar-expand-lg{
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}